.conclusion {
  font-size: larger;
  /* width: 200px; */
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #333;
  margin: 20px 60px 40px 60px;
  padding: 10px 20px 20px 20px;
}

.conclusion p {
  font-size: medium;
  color: rgb(244, 248, 3);
  /* margin-top: 4px; */
  margin-bottom: 0;
}
